html, body {
  margin: 0;
  padding: 0;
}
main {
  height: 100%;
  width: 100%;
  overflow: scroll;

}
.header-container {
  background: url("http://cdn01.wideopentech.com/themes/wot-2013-gm/_/img/wot-masthead-dark.jpg");
  height: 500px;
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
}
.nav-wrapper {
  width: 80%;
  height: 60px;
  margin: 0 auto;
  position: fixed;
}
.nav-wrapper:after {
  content: "";
  display: block;
  clear: both;
}
.logo {
  height: 40px;
  width: 15%;
  padding: 5px;
  margin: 10px;
  background: url("http://wideopentech.com/themes/wot-2013-gm/_/img/wot-logo-dark.svg") no-repeat;
  float: left;
}
.link-wrapper {
  float: right;
}
.link {
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  display: inline-block;
}
.link a {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
}
.intro-text-wrapper {
  width: 100%;
  height: 400px;
  background-color: #F0F0F0;
  text-align: center;
  font-weight: 300;
}
.intro-text {
  padding: 30px 40px 30px 40px;
  background-color: #F0F0F0;
  text-align: center;
  font-size: 25px;
  color: #6A787C;
  font-family: sans-serif;
}
em {
  font-weight: bold;
  color: #BDD436;
  font-weight: 400;
  font-family: sans-serif;
}
.details-block {
  height: 330px;
  width: 100%;
  background-color: grey;
  text-align: center;
}
.lightbulb {
  display: inline-block;
  width: calc(98%/3);
}
.arrow {
  display: inline-block;
  width: calc(98%/3);
}
.on {
  display: inline-block;
  width: calc(98%/3);
}
@media (max-width: 850px) {
  .details-block > div {
    display: block;
    margin: 0 auto;
  }
}
.main-text {
  font-family: sans-serif;
  font-weight: 500;
  padding-top: 80px;
  font-size: 155px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}
small {
  margin-left: 8em;
  font-size: 22px;
  display: block;
  color: #fff;
  text-align: left;
}
.main {
  line-height: 140px;
  display: block
  width: 100%;
  margin: 0 0 35px 0;
}
.sub {
  font-size: 18px;
  display: block;
  margin-left: 20%;
  margin-right: 20%;
  position: relative;

}
h1 em {
  color: #bdd436;
  font-style: normal;
}
.i {
  color: #bdd436;
}
.button {
  text-align: center;
  color: #fff;
  background: #bdd436;
  font-size: 16px;
  font-weight: 700;
  padding: 11px 36px;
  border-radius: 25px;
  margin-left: 41%;
  margin-right: 41%;
  vertical-align: center;
  margin-top: 20px;
}
.how-can-we-help {

}
.how-can-we-help h1 {
  text-align: center;
}
.how-can-we-help h3 {
  text-align: center;
}
